.footer {
    background-color: #212121;
    color: #ccc;
}

hr {
    width: 100%;
    border-color: #999999;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h5 {
    color: #676767;
    margin-bottom: 1rem;
}

footer a, footer a:visited {
    color: #ccc;
    padding-left: 0;
}

footer a:hover {
    color: #777;
    font-style: normal;
    text-decoration: none;
}

.copyright {
    padding: .4rem;
}

p {
    margin-bottom: 0;
    padding-bottom: .5rem;
}